*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: rgb(25, 22, 13);
    color: red;
    line-height: 2rem;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
.imgs{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}
.scorebrd{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;

}
#uscore,
#comscore{
    font-size: 2rem;
} 
.mesg{
    text-align: center;
    margin-top: 5rem;
}
#msg{
    margin-top: 5rem;
    background-color: rgb(25, 22, 13);
    color: red;
    font-size: 2rem;
    display: inline;
}